<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Titre</td>
            <td>Contenu</td>
            <td>Créé le</td>
            <td>Mis à jour le</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.id }}</td>
                <td>{{ article.title }}</td>
                <td>{{ article.content }}</td>
                <td>{{ article.createdAt|date('d/m/Y') }}</td>
                <td>{{ article.updatedAt|date('d/m/Y') }}</td>
                <td>
                    <a href="{{ path('admin.article.edit', { 'id': article.id }) }}">Modifier</a>
                    <form action="{{ path('admin.article.delete', { 'id': article.id }) }}" method="POST" onsubmit="return confirm('Etes vous sûr de vouloir supprimer cet article ?')">
                        <input type="hidden" name="token" value="{{ csrf_token('delete' ~ article.id) }}">
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>